.popup .overlay{
    position:relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 200vh;
    /* background: linear-gradient(rgb(255, 123, 0),skyblue,rgb(39, 223, 39),yellow); */
    z-index: 1;
    display: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    /* border-radius: 50%; */
   
}




.container-fluid p{
   height: 50%;
   width: 100%;
   margin-top: 20px;
}
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: rgb(241, 221, 102);
    width: 600px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn .overlay{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color:black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}